<h1>All Stations</h1>

<ul id="stations">
  <% @stations.each do |station| %>
    <li>
      Station: <%= link_to station.name, station_path(station), class: 'stations-name' %>
      Dock Count: <%= station.dock_count %>
      City: <%= station.city %>
      Installed: <%= station.installation_date %>
    </li>
  <% end %>
</ul>
